body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

.navbar {
    background: #1d2733;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
}

.logo {
    font-weight: bold;
}

.login-container {
    max-width: 350px;
    margin: 70px auto;
    background: white;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    font-size: 22px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    
}

button {
    width: 100%;
    padding: 12px;
    background: #4a49f5;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #3b3adc;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
    font-size: 13px;
}
